.box{
    height: 25px; 
    width: 25px; 
}

.attemptbox{
    border-color: black; 
    border-style: solid;
    border-width: 1px;
}

.tablerow{
    margin-top: 10px;
    height: 40px;
}

.top-border{
    border-top-color: lightgray;
    border-top-style:groove;
    border-top-width: 1px;
}

.onattempt{
    background-color: lightgray;
}

#tries{
    border-bottom: solid 2px black;
    border-right-color: black; 
    border-right-style: solid;
    border-right-width: 2px;
}

#results{
    border-bottom: solid 2px black;
}

#board{
    background-color: burlywood;
}

.rules{
    background-color: lightyellow;
}

.guessbox{
    border-color: black; 
    border-style: solid;
    border-width: 1px;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.orange{
    background-color: orange;
}

.purple{
    background-color: purple;
}

.green{
    background-color: green;
}

.correct{
    background-color: black;
}

.misplaced{
    background-color: grey;
}

.selected-color{
    border-width: 3px;
    border-style: solid;
    border-color: lightskyblue;
}